<div class="home">
  <div class="grid-container">
    <div>
      <h1>Hi There, <br />I am Yordan Mutafchiyski!</h1>
      <h2>I am an <span>Angular Developer!</span></h2>
      <button>About</button>
      <div class="logo-container">
        <a href="https://www.facebook.com/yordan.mutafchiyski/"><img src="/assets/img/facebook.png" alt="facebook"></a>
        <a href=""><img src="/assets/img/linkedin.png" alt="linkedin"></a>
        <a href=""><img src="/assets/img/github.png" alt="github"></a>
      </div>
    </div>
    <div class="image-container">
      <img src="/assets/img/Picture2.jpg" />
    </div>
  </div>
</div>
